<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>QUANLYCANHAN</display-name>
  <servlet>
    <description></description>
    <display-name>LoginSvl</display-name>
    <servlet-name>LoginSvl</servlet-name>
    <servlet-class>login.servlets.LoginSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSvl</servlet-name>
    <url-pattern>/LoginSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuanLyCaNhanSvl</display-name>
    <servlet-name>QuanLyCaNhanSvl</servlet-name>
    <servlet-class>qlcn.center.quanlycanhan.servlets.QuanLyCaNhanSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanLyCaNhanSvl</servlet-name>
    <url-pattern>/QuanLyCaNhanSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoaiTaiKhoanSvl</display-name>
    <servlet-name>LoaiTaiKhoanSvl</servlet-name>
    <servlet-class>qlcn.pages.loaitaikhoan.servlets.LoaiTaiKhoanSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoaiTaiKhoanSvl</servlet-name>
    <url-pattern>/LoaiTaiKhoanSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoaiTaiKhoanUpdateSvl</display-name>
    <servlet-name>LoaiTaiKhoanUpdateSvl</servlet-name>
    <servlet-class>qlcn.pages.loaitaikhoan.servlets.LoaiTaiKhoanUpdateSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoaiTaiKhoanUpdateSvl</servlet-name>
    <url-pattern>/LoaiTaiKhoanUpdateSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaiKhoanSvl</display-name>
    <servlet-name>TaiKhoanSvl</servlet-name>
    <servlet-class>qlcn.pages.taikhoan.servlets.TaiKhoanSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaiKhoanSvl</servlet-name>
    <url-pattern>/TaiKhoanSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaiKhoanUpdateSvl</display-name>
    <servlet-name>TaiKhoanUpdateSvl</servlet-name>
    <servlet-class>qlcn.pages.taikhoan.servlets.TaiKhoanUpdateSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaiKhoanUpdateSvl</servlet-name>
    <url-pattern>/TaiKhoanUpdateSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaiKhoanThanhToanSvl</display-name>
    <servlet-name>TaiKhoanThanhToanSvl</servlet-name>
    <servlet-class>qlcn.pages.taikhoanthanhtoan.servlets.TaiKhoanThanhToanSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaiKhoanThanhToanSvl</servlet-name>
    <url-pattern>/TaiKhoanThanhToanSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaiKhoanThanhToanUpdateSvl</display-name>
    <servlet-name>TaiKhoanThanhToanUpdateSvl</servlet-name>
    <servlet-class>qlcn.pages.taikhoanthanhtoan.servlets.TaiKhoanThanhToanUpdateSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaiKhoanThanhToanUpdateSvl</servlet-name>
    <url-pattern>/TaiKhoanThanhToanUpdateSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThuChiSvl</display-name>
    <servlet-name>ThuChiSvl</servlet-name>
    <servlet-class>qlcn.pages.thuchi.servlets.ThuChiSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThuChiSvl</servlet-name>
    <url-pattern>/ThuChiSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThuChiUpdateSvl</display-name>
    <servlet-name>ThuChiUpdateSvl</servlet-name>
    <servlet-class>qlcn.pages.thuchi.servlets.ThuChiUpdateSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThuChiUpdateSvl</servlet-name>
    <url-pattern>/ThuChiUpdateSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoiDungThuChiSvl</display-name>
    <servlet-name>NoiDungThuChiSvl</servlet-name>
    <servlet-class>qlcn.pages.noidungthuchi.servlets.NoiDungThuChiSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoiDungThuChiSvl</servlet-name>
    <url-pattern>/NoiDungThuChiSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoiDungThuChiUpdateSvl</display-name>
    <servlet-name>NoiDungThuChiUpdateSvl</servlet-name>
    <servlet-class>qlcn.pages.noidungthuchi.servlets.NoiDungThuChiUpdateSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoiDungThuChiUpdateSvl</servlet-name>
    <url-pattern>/NoiDungThuChiUpdateSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonViSvl</display-name>
    <servlet-name>DonViSvl</servlet-name>
    <servlet-class>qlcn.pages.donvi.servlets.DonViSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonViSvl</servlet-name>
    <url-pattern>/DonViSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonViUpdateSvl</display-name>
    <servlet-name>DonViUpdateSvl</servlet-name>
    <servlet-class>qlcn.pages.donvi.servlets.DonViUpdateSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonViUpdateSvl</servlet-name>
    <url-pattern>/DonViUpdateSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VayNoSvl</display-name>
    <servlet-name>VayNoSvl</servlet-name>
    <servlet-class>qlcn.pages.vayno.servlets.VayNoSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VayNoSvl</servlet-name>
    <url-pattern>/VayNoSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VayNoUpdateSvl</display-name>
    <servlet-name>VayNoUpdateSvl</servlet-name>
    <servlet-class>qlcn.pages.vayno.servlets.VayNoUpdateSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VayNoUpdateSvl</servlet-name>
    <url-pattern>/VayNoUpdateSvl</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AjaxTop</display-name>
    <servlet-name>AjaxTop</servlet-name>
    <servlet-class>qlcn.center.top.servlets.AjaxTop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxTop</servlet-name>
    <url-pattern>/AjaxTop</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ChuyenTienSvl</display-name>
    <servlet-name>ChuyenTienSvl</servlet-name>
    <servlet-class>qlcn.pages.chuyentien.servlets.ChuyenTienSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChuyenTienSvl</servlet-name>
    <url-pattern>/ChuyenTienSvl</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ChuyenTienUpdateSvl</display-name>
    <servlet-name>ChuyenTienUpdateSvl</servlet-name>
    <servlet-class>qlcn.pages.chuyentien.servlets.ChuyenTienUpdateSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChuyenTienUpdateSvl</servlet-name>
    <url-pattern>/ChuyenTienUpdateSvl</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>